/* include imports and @ stuff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Home */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 10;
}
#logo-top{
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#tabs-container {
    height: 25%;
    padding-left: 900px;
    display: flex;
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
}
#homeTab {
    color: white;
    display: flex;
}
#aboutTab {
    color: white;
    display: flex;
}
#prodTab {
    color: white;
    display: flex;
}
#locTab {
    color: white;
    display: flex;
}
#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}
#logo-bot{
    padding-left: 600px;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}

span {
    height: 110px;
    width: 3px;
    background-color: white;
    border-radius: 99px;
    margin: 5 20px;
}

.nav-tab {
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
}

.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
    transition: background-color 0.3s, font-size 0.3s;
}

.tabsName:hover {
   font-size: 1.6em; /* Change to desired font size */
}

.nav-tab:hover .tabsName {
    font-size: 1.6em; /* Change to desired font size */
}

#tabs-container:hover  {
    background-color: rgba(9, 255, 103, 0.1); /* Change to desired darker shade */
}
