/* include imports and @ stuff */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Product */
#topNavBar-container {
    height: 105px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 10;
}
#logo-top{
    padding: 20px;
}
#logo{
    width: 100px;
    height: 100px;
}
#tabs-container {
    height: 25%;
    padding-left: 900px;
    display: flex;
}
.tabsName {
    font-weight: bolder;
    font-size: 24px;
    padding-left: 10px;
}
#homeTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#aboutTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#prodTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#locTab {
    color: white;
    padding-left: 60px;
    display: flex;
}
#botNavBar-container {
    height: 110px;
    width: 100%;
    background-color: rgb(22, 72, 99);    
    font-family: 'Krona One', sans-serif;
    display: flex;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: absolute;
    z-index: 10;
}
#logo-bot{
    padding-left: 600px;
}
#info{
    display: flex;
    flex-grow: 1;  
    color: white;
}
#find{
    color: white;
    width:15em;
    text-align:center;
    padding-top: 8px;
}
#addr{
    padding-top: 10px;
}
#contact{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#num{
    padding-top: 10px;
}
#socials{
    color: white;
    width:10em;
    text-align:center;
    padding-top: 8px;
}
#soc{
    padding-top: 10px;
}
#botNavBar-container span {
    display: inline-block;
    width: 7px; 
    height: 100px;
    background-color: white;
    margin: 5px 10px 0; 
    border-radius: 50px;
}

.nav-tab:hover {
    cursor: pointer;
}

/* Product page */
#products {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 100px;

    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#products p{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    font-size:20px;
}

.product {
    width: 200px;
    height: 250px;
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.popup {
    position: relative;
    width: auto;
    height: auto;
    background-color: grey;
    text-align: center;
    visibility: hidden;
}

.product:hover {
    transform: scale(1.05); /* Scale the image by 5% on hover */
    cursor:pointer
}

.popup {
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(206, 206, 206);
    text-align: center;
    visibility: hidden;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease; /* Add smooth transition effect for opacity */
}

.popup.show {
    visibility: visible;
    opacity: 1; /* Change opacity to 1 when the popup is shown */
}

